<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Login</title>
	<!-- Materialize CDN  CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!--CSS especifico do head -->
	<link rel="stylesheet" th:href="@{/css/head.css}">
	<!-- link para fonte das palavras -->
	<link href="https://fonts.googleapis.com/css2?family=Tomorrow:wght@400&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="titulo-head">
	        <h1>Sodré Softwares</h1> 
		</div>
		 <div class="botoes">
			<input class="waves-effect waves-light btn"  onclick="window.location.href='/cadastro'" 
			type="submit" value="Cadastro" sec:authorize="!isAuthenticated()">
			<input class="waves-effect waves-light btn"  onclick="window.location.href='/login'" 
			type="submit" value="Login" sec:authorize="!isAuthenticated()">
			<input class="waves-effect waves-light btn"  onclick="window.location.href='/logout'" 
			type="submit" value="Sair" sec:authorize="isAuthenticated()">
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="input-field col s12">
				<h2>Login</h2>
			</div>
		</div>
		<form action="/login" method="post" onsubmit="return validarCampos() ? true : false">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<div class="row">
				<div class="input-field col s12">
					<label for="username" class="active">Login</label>
					<input id="username" name="username" type="text" class="validate;">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label for="password" class="active">Senha</label>
					<input id="password" name="password" type="password" class="validate">
				</div>
			</div>
			<div id="mensagemErro" th:text="${mensagemErro}" style="color: red"></div>
			<div th:if="${param.erro}" style="color:red;">
			    Usuário ou senha inválidos.
			</div>
			<div class="row">
			  	<div class="input-field col s12">
					<input class="waves-effect waves-light btn" type="submit" value="Entrar">
				</div>
		  	</div>
		</form>
	</div>
	<!-- Materialize CDN JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		function validarCampos(){
			const login = document.getElementById('username').value.trim();
			const senha =  document.getElementById('password').value.trim();
		  	const mensagemErro = document.getElementById('mensagemErro');
			
		  	//not null
		  	if(login == '' || senha == '' || senhaConfirma == ''){
		  		mensagemErro.innerHTML= "Todos os campos devem ser preenchidos";
		  		return false;
		  	}
		return true;
		}
	</script>
</body>
</html>